<!DOCTYPE html>

<html>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/icon"/>
	<title>Graph Data Lake Visualization App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.4.1/css/bootstrap.css"/>

<!--     <link rel="stylesheet" href="webjars/bootstrap-table/1.15.5/bootstrap-table.css"> -->

<!--     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

<!--     <link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.css"> -->
<!--     <style> -->
/*         .autocomplete-suggestions { */
/*             border: 1px solid #999; */
/*             background: #FFF; */
/*             overflow: auto; */
/*         } */

/*         .autocomplete-suggestion { */
/*             padding: 2px 5px; */
/*             white-space: nowrap; */
/*             overflow: hidden; */
/*         } */

/*         .autocomplete-selected { */
/*             background: #F0F0F0; */
/*         } */

/*         .autocomplete-suggestions strong { */
/*             font-weight: normal; */
/*             color: #3399FF; */
/*         } */

/*         .autocomplete-group { */
/*             padding: 2px 5px; */
/*         } */

/*         .autocomplete-group strong { */
/*             display: block; */
/*             border-bottom: 1px solid #000; */
/*         } */

/*         .table-two-color { */
/*             color: #e2e2e2; */
/*             background-color: #2b4a47; */
/*         } */
<!--     </style> -->
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Graph Data Lake Visualization App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link active" th:href="@{/users/all}">List users</a> -->
<!--       </li> -->
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link active" th:href="@{/users/new}">Add new user</a> -->
<!--       </li> -->
    </ul>
  </div>
</nav>

</html>